@value makerLightGrey from '../../common/colors.css';

.profile {
    display: flex;
    flex-direction: row;
}

.left, .right {
    width: 50%;
    padding: 30px 10px;
    height: calc(100vh - 58px - 38px );
    box-sizing: border-box;
    overflow-y: auto;
}

.right {
    border-left: 1px solid makerLightGrey;
}
