@value makerLightGrey, makerLightPink, makerWhite, makerGreen, makerPink from '../../common/colors.css';

.file_default,
.file_exist {
    display: inline-block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
}

.file_default {
    background: makerLightGrey;
}

.file_exist {
    background: makerLightPink;
}

.fileIpt {
    display: none;
}

.loding {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border: 3px solid makerLightGrey;
    border-radius: 50%;
    border-top-color: makerPink;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  