.maker input,
.maker select,
.maker textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 15px;
}

.delete_btn {
    display: inline-block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;

    color: makerWhite;
    background: makerGreen;
}
