@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerLightPink from '../../common/colors.css';
@value makerGrey from '../../common/colors.css';

.auth {
    padding: 30px 10px;
    background-color: makerWhite;
}

.auth button {
    width: 100%;
    border: 2px solid makerGreen;
    background: makerWhite;
    line-height: 2;
    font-size: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

.auth button:hover {
    background: makerLightPink;
}

.modal {
    position: absolute;
    top: calc(50% - (302px /2));
    left: calc(50% - (500px /2));
    width: 500px;
    margin: auto;
    z-index: 1;
}

.dim {
    background: makerGrey;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}